<div class="float-left w-100" *ngIf='!forget'>
  <router-outlet></router-outlet>
  <h4>Forgot Password</h4>
  <p class="no_padding mt-2">You can reset your password here.</p>
  <!-- <p class="invalid no_padding" *ngIf="errorMsg">
    {{errorMsg}}
</p>
<p style="color:green" *ngIf="checkMailMsg">
  {{checkMailMsg}}
</p> -->
  <form [formGroup]="myForm">
    <div class="input-group w-100 float-left mt-4" [hidden]="IsOtp==true">
      <input type="text" class="form-control" formControlName="Email" placeholder="Enter your Registered Email" [(ngModel)]="model.Email">
      <app-validation class="alert-margin alert-txt" [control]="myForm.controls.Email"></app-validation>
    </div>
    <div class="input-group w-100 float-left mt-3" [hidden]="IsOtp==true">
<input class="btn btn-primary btn-green w-100 no_margin waves-light text-center " value="Send" type="submit" *ngIf="IsSending==false"
  (click)="forgot()" [disabled]="!myForm.valid">
<input type="button" [disabled]="true" *ngIf="IsSending==true" class="btn btn-primary btn-green w-100 no_margin waves-light text-center override-green"
        value="Sending..." type="submit">
    </div>

    <div [hidden]="IsOtp==false">
      <div class="input-group w-100 float-left mt-4">
        <input type="text" class="form-control" formControlName="Email" placeholder="Enter OTP" #otp required>
      </div>
    </div>
    <div class="input-group w-100 float-left mt-3" [hidden]="IsOtp==false">
      <input type="button" class="btn btn-primary btn-green w-100 no_margin waves-light text-center override-green" value="Reset Password" type="submit"
        (click)="otpPost(otp.value)">
    </div>
  </form>
  <div class="float-left">
    <span class="float-left link-text override-color-green">
      <a (click)="logout()">Back To Login</a>
    </span>
  </div>
  <hr class="float-left w-100">
  <p class="w-100 float-left text-center">We'll send you an email with a OTP to reset your password.</p>

</div>
<div class="float-left w-100" *ngIf='!showreset'>
  <app-resetpassword [adminforgotdata]='admindata' (getlogintypeCall)="LoginEvent($event)" (getloginAdmintypeCall)='LoginAdminEvent($event)'></app-resetpassword>
</div>
