<!--component html goes here -->
<div class="input-container">

    <input type="text" id="Username" required="required" />
    <label for="Username"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Username</label>
    <div class="bar"></div>
</div>
<div class="input-container">
    <input type="password" id="Password" required="required" />
    <label for="Password"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Password</label>
    <div class="bar"></div>
</div>
<div class="button-container">
    <button (click)="secureLogin()"><span>Go</span></button>
</div>
<div class="footer"><a href="#">Forgot your password?</a></div>