// component css goes here
// component css goes here
.org {
    width: calc(100%-230px);
    position: absolute;
    left: 230px;
    /* margin-top: 63px; */
    position: absolute;
    left: 230px;
    width: calc(100% - 230px);
    /* border: 1px solid black; */
    /* background-color: yellow; */
    /* padding: 5px; */
    text-align: center;
}