// component css goes here
.color {
    background-color: #320E4F;
    color: white;
}

.modal-content {
    width: 560px;
}

#collapseExample my-date-picker {
    width: 250px;
}

#collapseExample .form-action {
    margin-top: -10px
}

.btn-text-color {
    color: white
}

.btn-text-color-imp {
    color: white !important;
}

.defaultActiveRadio {
    color: #333;
    background-color: rgba(160, 70, 232, 0.1);
    border: 1px solid #946cb5;
    border-radius: 12px;
}