<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card custom">
                <ul class="nav  cd-tabs-navigation">
                    <li class="active"><a class="selected" data-toggle="tab" href="#Signup">Signup</a></li>
                    <li><a data-toggle="tab" href="#login">login</a></li>
                </ul>

                <div class="tab-content">
                    <div id="Signup" class="tab-pane fade in active custom-tab">

                    </div>
                    <div id="login" class="tab-pane fade custom-tab">
                        <app-login></app-login>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>