.slot-date a {
  // background: $theme-green;
  // color: $color-white;
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  font-size: 13px;
  line-height: 25px;
}

.slot-date {
  margin: 3px 0;
  padding: 0 4px;
}
