// component css goes here
.progress-bar-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.btn-color {
    color: white
}

.alert-margin {
    margin-left: 315px;
}

.btn-text-color {
    color: white !important;
}

.chartDayHeader {
    color: white;
    margin-right: 5px;
}

.chartDayHeaderActive {
    background-color: white;
    color: black;
}