<div class="w-100 float-left page-container">

    <ngx-tabset class="w-100 mt-2 float-left">
      <ngx-tab title="Organisation Settings">
       <app-org-settings></app-org-settings>
      </ngx-tab>
      <ngx-tab title="Integration Settings">
      <app-integration-settings></app-integration-settings>
      </ngx-tab>
      <ngx-tab title="Slider Settings">
        <app-slider-settings></app-slider-settings>
      </ngx-tab>
      <ngx-tab title="Mail Settings">
       <app-mail-settings></app-mail-settings>
      </ngx-tab>
      <ngx-tab title="Email Subject Settings">
          <app-email-subject></app-email-subject>
          </ngx-tab>
    </ngx-tabset>
  </div>