<div class="w-100 page-titel float-left">
  <h4 class="float-left titel">Refill Request </h4>
  <button type="button" class="btn btn-primary no_margin width_auto float-right waves-light text-center" data-toggle="modal"
    data-target="#addRequests" (click)="addRequests.show();toClearModel('open');" mdbWavesEffect>
    ADD Request for Refill
  </button>
  <div class="input-group col-lg-4 no_padding mr-3  search float-right" *ngIf="requestsList.length>0">
      <span class="icon-search"></span>
  <input type="text" placeholder="Search By Name/Phone/Email" name="barcode" [(ngModel)]="userFilter" class="form-control w-100 float-left no_margin">
</div>
</div>
<div class="w-100 float-left page-container" *ngIf="requestsList.length>0">
  <table class="theme-table table">
    <thead>
      <tr>
        <th><a (click)="setOrder('ProviderName')">Provider Name
            <i class="fa" [ngClass]="{'fa-caret-down' : !reverse,'fa-caret-up' : reverse }" *ngIf="order=='ProviderName'" aria-hidden="true"></i>
          </a></th>
        
        <th> <a (click)="setOrder('PhoneNo')">Phone Number
            <i class="fa" [ngClass]="{'fa-caret-down' : !reverse,'fa-caret-up' : reverse }" *ngIf="order=='PhoneNo'" aria-hidden="true"></i>
          </a></th>
        <th><a (click)="setOrder('Email')">Email
            <i class="fa" [ngClass]="{'fa-caret-down' : !reverse,'fa-caret-up' : reverse }" *ngIf="order=='Email'" aria-hidden="true"></i>
          </a></th>
        <th><a (click)="setOrder('SelectedMecationNames')">Medication Name
            <i class="fa" [ngClass]="{'fa-caret-down' : !reverse,'fa-caret-up' : reverse }" *ngIf="order=='SelectedMecationNames'" aria-hidden="true"></i>
          </a></th>
        <th><a (click)="setOrder('PharmacyName')">Pharmacy Name
            <i class="fa" [ngClass]="{'fa-caret-down' : !reverse,'fa-caret-up' : reverse }" *ngIf="order=='PharmacyName'" aria-hidden="true"></i>
          </a></th>
        <th><a (click)="setOrder('CreatedOn')">CreatedOn
            <i class="fa" [ngClass]="{'fa-caret-down' : !reverse,'fa-caret-up' : reverse }" *ngIf="order=='CreatedOn'" aria-hidden="true"></i>
          </a></th>
        <th>Status</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of requestsList | RequestPipe : userFilter | orderBy: order:reverse:'case-insensitive'| paginate: {itemsPerPage: 5, currentPage: page,  id: 'requestpage'};let i=index">
        <td data-column="Provider Name">{{data.ProviderName}}</td>
        
        <td data-column="PhoneNo">{{data.PhoneNo}}</td>
        <td data-column="Email">{{data.Email}}</td>
        <td data-column="Mecation Name" class='details'>{{data.SelectedMecationNames}}</td>
        <td data-column="Pharmacy Name">{{data.PharmacyName}}</td>
        <td data-column="CreatedOn">{{data.CreatedOn}}</td>
        <td data-column="Status">
          <span *ngIf="(data.ReadStatus && data.ReplyMessage!= null)">Read</span>
          <span *ngIf="(!data.ReadStatus && data.ReplyMessage!= null)">UnRead</span>
          <span *ngIf="data.ReplyMessage === null">Pending</span>
        </td>
        <td data-column="Manage">
          <a href="javascript:;;" class="edit float-left" (click)="onEdit(data);edit.show();">
            <i class="icon-edit float-left" aria-hidden="true"></i>
            <span>Edit</span>
          </a>
          <a href="javascript:;;" class="remove float-left" (click)="onDelete(data);deleterefills.show()">
            <i class="icon-remove float-left" aria-hidden="true"></i>
            <span>Remove</span>
          </a>
          <a href="javascript:;;" class="message float-left" *ngIf="(data.ReplyMessage!= null && data.ReplyMessage.length>0)" (click)="Message(data,data.Id);message.show()">
            <i class="icon-twilio float-left" aria-hidden="true"></i>
            <span>Response</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event" id="requestpage">
  </pagination-controls>
</div>
<div mdbModal #deleterefills="mdb-modal" class="modal fade" id="deleterefills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm
  " role="document">
    <div class="modal-content rounded">
      <div class="modal-header">
          <h4>Delete Request for Refills</h4>
          <p hidden>{{personrequestmodel}}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleterefills.hide()">
            <span aria-hidden="true">
              <i class="icon-close" aria-hidden="true"></i>
            </span>
          </button>
      </div>
      <div class="modal-body">
      <p class=" text-center" id="myModalLabel">Do You want to delete?</p>
      <button class="btn btn-danger float-right waves-light" (click)="deleterefills.hide()">No</button>
        <button class="btn btn-primary width_auto float-right waves-light" (click)=" deleteRequest(personrequestmodel)">Yes</button>
    </div>
    </div>
  </div>
</div>
<div class="page-container add-record w-100 text-center mt-5 float-left" *ngIf="requestsList.length<=0">
  <i class="w-100 icon-add-file icon float-left" aria-hidden="true"></i>
  <p class="w-100 float-left">Add New Record</p>
</div>
<div mdbModal #addRequests="mdb-modal" class="modal fade" id="addRequests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true, keyboard:false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Add {{msgtype}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addRequests.hide();toClearModel('close');">
          <span aria-hidden="true">
            <i class="icon-close" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
<form [formGroup]="personrequestForm" (submit)="addRequestSave()">
  <div class="row">
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Phone Number
        <span class="color-red">*</span>
      </span>
      <input class="form-control" [textMask]="getNHSNumberMask()" formControlName="PhoneNo" [(ngModel)]="personrequestmodel.PhoneNo"
        (blur)="unmasckphone($event)"  [ngClass]="{'error' : phonests}" />
      <app-validation [control]="personrequestForm.controls.PhoneNo">
      </app-validation>
      <!-- <div *ngIf="phonests" class="errormsg"> Number Should Be 10 Digits</div> -->
    </div>
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Email
        <span class="color-red">*</span>
      </span>
      <input class="form-control input-md" placeholder="Email" formControlName="Email" [(ngModel)]="personrequestmodel.Email" maxlength="50"
      />
      <app-validation [control]="personrequestForm.controls.Email">
      </app-validation>
    </div>
  </div>
  <div class="row ">
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Provider
      </span>
      <div class="form-select w-100 float-left">
        <select class="form-control input-md" formControlName="ProviderId" [(ngModel)]="personrequestmodel.ProviderId">
          <option [ngValue]="undefined" selected>-- Choose Provider--</option>
          <option *ngFor="let provider of providerDropdown" [ngValue]="provider.ProviderId">{{provider.ProviderName}}</option>
        </select>
      </div>
    </div>
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Message</span>
      <textarea class="form-control input-md" placeholder="Message" formControlName="Details" [(ngModel)]="personrequestmodel.Details"
        maxlength="100"></textarea>
    </div>
  </div>
  <div class="row ">
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Pharmacy
        <span class="color-red">*</span>
      </span>
      <div class="form-select w-100 float-left">
        <select class="form-control" formControlName="RefillPharmacyId" [(ngModel)]="personrequestmodel.RefillPharmacyId">
          <option [ngValue]="undefined" selected>-- Choose Name--</option>
          <option *ngFor="let data of lookupsDropdown" [ngValue]="data.Id">{{data.PreferredPharmacy}}</option>
        </select>
        <app-validation [control]="personrequestForm.controls.RefillPharmacyId">
        </app-validation>
      </div>
    </div>
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Medication
        <span class="color-red">*</span>
      </span>
      <div *ngIf="finalmedications.length==0">
        <p style="color:red"> Couldn't submit your request due to no Medications</p>
      </div>
      <div class="w-100 float-left medicationScroll" *ngIf="finalmedications.length>0" style="width: 300px; margin-bottom: 20px;">
        <ng-select [multiple]="true" [items]="finalmedications" (data)="refreshValue($event)" (selected)="selectednew($event)" (removed)="removed($event)"
          placeholder="No Medicine selected" formControlName="RefillMedicationId" #input></ng-select>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-sm waves-light float-right" [disabled]="!personrequestForm.valid ||  disableButton" mdbWavesEffect>SUBMIT</button>
</form>

      </div>
    </div>
  </div>
</div>
<div mdbModal #edit="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true, keyboard:false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Edit Request for Refills</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="edit.hide();toClearModel('close');">
          <span aria-hidden="true">
            <i class="icon-close" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
<form [formGroup]="personrequestForm" (submit)="editRequest()">
  <div class="row">
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Phone Number
        <span class="color-red">*</span>
      </span>
      <input class="form-control" [textMask]="getNHSNumberMask()" formControlName="PhoneNo" ng-bind="personrequestmodel.PhoneNo"
        value="{{personrequestmodel.PhoneNo}}" (blur)="unmasckphone($event)"  [ngClass]="{'error' : phonests}" />
      <app-validation [control]="personrequestForm.controls.PhoneNo">
      </app-validation>
      <!-- <div *ngIf="phonests" class="errormsg"> Number Should Be 10 Digits</div> -->
    </div>
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Email
        <span class="color-red">*</span>
      </span>
      <input class="form-control input-md" placeholder="Email" formControlName="Email" ng-bind="personrequestmodel.Email" value="{{personrequestmodel.Email}}"
        maxlength="50" />
      <app-validation [control]="personrequestForm.controls.Email">
      </app-validation>
    </div>
  </div>
  <div class="row ">
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Provider
        <span class="color-red">*</span>
      </span>
      <div class="form-select w-100 float-left">
        <select class="form-control input-md" formControlName="ProviderId">
          <option [ngValue]="undefined" disabled selected>-- Choose Provider--</option>
          <option *ngFor="let provider of providerDropdown" [ngValue]="provider.ProviderId" [selected]="provider.ProviderId==personrequestmodel.ProviderId">{{provider.ProviderName}}</option>
        </select>
      </div>
    </div>
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Message</span>
      <textarea class="form-control input-md" placeholder="Message" formControlName="Details" ng-bind="personrequestmodel.Details"
        value="{{personrequestmodel.Details}}" maxlength="100"></textarea>
    </div>
  </div>
  <div class="row ">
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Pharmacy
        <span class="color-red">*</span>
      </span>
      <div class="form-select w-100 float-left">
        <select class="form-control" formControlName="RefillPharmacyId">
          <option [ngValue]="undefined" selected>-- Choose Type--</option>
          <option *ngFor="let data of lookupsDropdown" [ngValue]="data.Id" [selected]="data.Id==personrequestmodel.RefillPharmacyId">{{data.PreferredPharmacy}}</option>
        </select>
        <app-validation [control]="personrequestForm.controls.RefillPharmacyId">
        </app-validation>
      </div>
    </div>
    <div class="input-group col-lg-6 float-left">
      <span class="input-title w-100 float-left">Medication
        <span class="color-red">*</span>
      </span>
      <div *ngIf="finalmedications.length==0">
        <p style="color:red"> Couldn't submit your request due to no Medications</p>
      </div>
      <div class="w-100 float-left medicationScroll" *ngIf="finalmedications.length>0">
        <ng-select class="w-100 float-left" [multiple]="true" [items]="finalmedications" [active]="editarray"  (data)="refreshValue($event)"
          (selected)="editselectednew($event)" (removed)="editremoved($event)" placeholder="No Medicine selected" formControlName="RefillMedicationId"></ng-select>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-sm waves-light float-right">SUBMIT</button>
</form>

      </div>
    </div>
  </div>
</div>
<div mdbModal #message="mdb-modal" class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Reply Message</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="message.hide();toClearModel('close')">
          <span aria-hidden="true">
            <i class="icon-close" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="modal-body text-center">{{msg}}</div>
    </div>
  </div>
</div>