
<div class="w-100 page-titel float-left">
    <h4 class="float-left titel">Health Questionnaire</h4>
  </div>

<!-- ***************************assessment view start ************************-->
<div class="w-100 float-left page-container">
        <h5>{{assessmentSection.SectionName}}</h5>
        
            
                <div class=" row  ml-1 assessment divChildQuestion mt-3" *ngFor="let parentQ of assessmentSection.Questions let i = index">
                    <div class="col-lg-6 float-left no_padding  ">
                        <div class="form-group">
                            <div class="form-label">
                                <label class="label-title"> {{i+1}}. {{parentQ.QuestionName}}</label>
                            </div>

                          <div class="btn-group mt-1 float-left" data-toggle="buttons" *ngIf="parentQ.TypeId==questiontype.RADIO"   >
                        <label class="btn btn-primary active form-check-label" *ngFor="let choice of parentQ.Choices" [ngClass]="{'active':parentQ.SelectedID == choice.ChoiceId}">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="onSelect(choice,'',i,assessmentSection,'',m)">
                            {{choice.ChoiceName}} 
                        </label>
                        
                    </div>     
                            <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="parentQ.TypeId==questiontype.RADIO">
                                <label class="btn btn-secondary active" *ngFor="let choice of parentQ.Choices" [ngClass]="{'active':parentQ.SelectedID == choice.ChoiceId}">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <div class="input-content" (click)="onSelect(choice,'',i,assessmentSection,'',m)"> {{choice.ChoiceName}} </div>
                              </label>
                            </div> -->
                            <!--option type2="textbox"-->
                            <div class="input-group float-left col-lg-6" *ngIf="parentQ.TypeId==questiontype.TEXTBOX">
                                <input class="form-control" #myvalue value="{{parentQ.SelectedValue}}" type="text" (blur)="onSelect(parentQ.Choices[0],myvalue.value,i,assessmentSection,'',m)" (keypress)="enableSave()">
                            </div>
                            <div class="input-group float-left col-lg-6" *ngIf="parentQ.TypeId==questiontype.DROPDOWN">
                                <select class="form-control" #choice (change)="onSelect(choice,choice.value,i,assessmentSection,'',m)">
                                  <option value="0">Choose One</option>
                                  <option *ngFor="let choice of parentQ.Choices let i=index" [value]="choice.ChoiceId" [selected]="parentQ.SelectedID==choice.ChoiceId">{{choice.ChoiceName}}
                                  </option>
                              </select>
                            </div>
                            <div class="form-content "  *ngIf="parentQ.TypeId==questiontype.CHECKBOX">
                                <div class="pill-group" data-toggle="checkbox">
                                    <div class="btn" *ngFor="let choice of parentQ.Choices">
                                        <input type="checkbox" [attr.name]="choice" [value]="choice" [checked]="choice.Checked" (click)="onSelect(choice,choice.value,i,assessmentSection,$event.target.checked,m)">{{choice.ChoiceName}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--parent Question options end -->
                    <!--child Question loop start -->
                    <div class="col-lg-6 float-left no_padding entry-child">
                        <div *ngFor="let childQ of parentQ.ChildQuestions let c= index">

                            <div class="form-label">

                                <label class="label-title"> {{childQ.QuestionName}} </label>
                            </div>

                            <!--child Question options start-->

                            <!--option type1="radio"-->

                            <div class="form-content" *ngIf="childQ.TypeId==questiontype.RADIO">

                                <div class="pill-group" data-toggle="buttons">

                                    <label class="btn btn-secondary button-selection" *ngFor="let childChoice of childQ.Choices" []="{'active':childQ.SelectedID == childChoice.ChoiceId}">

                                      <input class="form-control" type="radio">

                                      <div class="input-content" (click)="onSelectChild(childChoice,'',childQ,parentQ.QuestionId,'',c,m)"> {{childChoice.ChoiceName}} </div>

                                  </label>

                                </div>


                            </div>

                            <!--option type1="textbox"-->

                            <div class="form-content" *ngIf="childQ.TypeId==questiontype.TEXTBOX ">

                                <input class="form-control" maxlength="30" #myvalue value="{{childQ.SelectedValue}}" *ngFor="let childChoice of childQ.Choices" type="text" (blur)="onSelectChild(childChoice,myvalue.value,childQ,parentQ.QuestionId,'',c,m)" style="margin: 5px 0">


                            </div>

                            <!--option type1="dropdown"-->

                            <div class="form-content" *ngIf="childQ.TypeId==questiontype.DROPDOWN">
                                <select class="form-control" #choice (change)="onSelectChild(choice,choice.value,childQ,parentQ.QuestionId,'',c,m)">
                                  <option value="0">Choose One</option>
                                  <option *ngFor="let choice of childQ.Choices" [value]="choice.ChoiceId" [selected]="childQ.SelectedID==choice.ChoiceId">{{choice.ChoiceName}}</option>
                              </select>

                            </div>
                            <div class="form-content" *ngIf="childQ.TypeId==questiontype.CHECKBOX">
                                <div class="pill-group" data-toggle="checkbox">
                                    <div class="btn" *ngFor="let choice of childQ.Choices">
                                        <input type="checkbox" [attr.name]="choice" [value]="choice" [checked]="choice.Checked" (click)="onSelectChild(choice,choice.value,childQ,parentQ.QuestionId,$event.target.checked,c,m)">{{choice.ChoiceName}}
                                    </div>
                                </div>

                            </div>
                            <!--child  Question options  end-->
                        </div>
                    </div>
                    <!--child  Question loop end -->
                </div>
         
            <!--parent Question loop end-->
            <!-- col-12 entry-child -->
            <div class="float-right">
                <button *ngIf="totalNumberOfSection>1" class="btn btn-primary btn-color" type="button" (click)="prevButton()" [disabled]="currentPage==0">Prev</button>
                <button *ngIf="totalNumberOfSection>1" class="btn btn-primary btn-color" type="button" (click)="nextButton()" [disabled]="currentPage==(totalNumberOfSection-1)">Next</button>
                <button _ngcontent-c4="" *ngIf="loading" class="btn btn-primary btn-color" type="submit" [disabled]="buttonloading">
                    <i class="fa fa-spinner fa-spin faloading"></i>Save</button>
                <button class="btn btn-primary btn-color" [disabled]="disableButton || loading" *ngIf="buttonloading" type="submit" (click)="assessmentPost()">Save</button>
                <div class="clear"></div>
            </div>
            <div class="col-12 pull-left" *ngIf="currentPage==(totalNumberOfSection-1)">
                <h6 class="text-center">End of Health Questionnaire</h6>
            </div>
            <!-- entry-action -->
        
        <!-- entry-content -->
    
    <!-- entry-section -->
</div>
<!-- entry -->

<!-- ***************************assessment view ends ************************-->