/* Colors definition */
$color-black: #000;
$color-white: #ffffff;
$color-blue: #168BE8;
$color-green: #0a8a52;
$color-popup-bg:rgba(0,0,0,0.5);




$theme-blue: #03a9f3;
$theme-blue-light: rgba(3,169,243,0.5);
$theme-dark-blue:#0d91d0;

$theme-color: #50ab50;
$theme-color-light: rgba(29,199,63,0.5);
$theme-color-dark: #449d44;

$theme-light-grey: #737373;
$theme-green: #1fcb7f;
$theme-light:#e5e4e6;
$theme-lighter-grey:#dedede;
$theme-red: #ce3a42;
$theme-lightest-grey: #f5f5f5;
$color-overlay: rgba(55, 58, 60, 0.5);
$text-color:#373A3C;
$text-light-color:#5B5B5B;
$border-color:rgba(115, 115, 115, 0.5);
$input-border-color: rgba(115, 115, 115, 0.4);
$tile-shadow: rgba(115, 115, 115, 0.1);
$sidebar-color:#495063;
$sidebar:#3c4250;
$sidebar-text:#b0b1b5;
$bar-color:#eeeeee;
$container-color:#f5f5f5;
$collapse-color:#f5f9fc;
$collapse-border-color:#e7edf2;
$sucess-bg:rgba(10,138,82,0.1);
$warning-bg:rgba(206,58,66,0.1);
$primary-color:#3984de;
$primary-color2: rgba(57, 132, 222, 0.2);
$secondary-color:#4cb7d9;
$secondary-color2: rgba(76, 183, 217, 0.2);
/* ==========================================================================
dashboard colors
========================================================================== */
$schedular-color:#e07e8c;
$appointment-color:#009488;
$pharmacy-color:#8e8e5c;
$insurance-color:#0575d9;
$payment-color:#ff5729;
$refill-color:#de5b49;
$test-color:#63265a;
$reffer-color:#d6a845;
$billing-color:#03a9f3;
$request-info-color:#3fb4c6;
$request-record-color:#a76c9a;
$ask-question-color:#497e8c;
$questionnaire-color:#6c68b9;
$patientcard-color:#9879bf;
$compaign-color:#1fadd1;
$schedule-color:#ab4e88;
$theme-warning:rgba(206,58,66,0.5);

$theme-yellow:#ffa420;
$theme-orange:#f8594f;
$theme-grey:#748e9a;



$slot-grey: #f3f3f3;
$slot-dark-grey: #a5a5a5;