<div class="resetpassword">
    <div class="card">
        <form [formGroup]="myForm">
            <h3 class="text-center">
                Change Your Password
            </h3>
            <div class="input-group col-lg-8 float-left">
                <span class="input-title w-100 float-left">New Password
        </span>
                <input type="password" class="form-control input-md" placeholder="New Password" class="form-control" formControlName="NewPassword" [(ngModel)]="model.NewPassword" />
                <app-validation [control]="myForm.controls.NewPassword">
                </app-validation>
            </div>
            <div class="input-group col-lg-8 float-left">
                <span class="input-title w-100 float-left">Confirm Password
        </span>
                <input type="password" class="form-control input-md" formControlName="conformpassword" placeholder="Confirm Password" class="form-control" [(ngModel)]="model.conformpassword">
                <app-validation [control]="myForm.controls.conformpassword">
                </app-validation>
                <div *ngIf="show">
                    <div class="alert alert-danger remove-indent" *ngIf="(model.conformpassword != model.NewPassword)">{{errorps}}</div>
                </div>
            </div>
            <div class="w-100 float-right">
                <button type="button" class="btn btn-primary  waves-light float-right" (click)="generate()" [disabled]="!myForm.valid">Submit</button>
                <!-- <button type="button" class="btn btn-primary waves-light float-right" (click)="logout()">Go To Home</button> -->
            </div>
        </form>
    </div>
</div>