.search {
    position: relative;
}

.search input {
    text-indent: 30px;
}

.search .icon-search {
    position: absolute;
    top: 9px;
    left: 25px;
    font-size: 18px;
}
.headding-banner {
    border-bottom: 1px solid #d6cfdc;
    padding: 1em;
    background: #fff;
}