<div *ngIf='resetPopUp'>
    <router-outlet></router-outlet>
   <p  *ngIf="resetMsg" style="color:green"> {{resetMsg}}  </p>
    <h4>Change Your Password</h4>
    <P class="no_padding mt-2" *ngIf="invalidPwd"> Minimum 8 characters,at least one uppercase letter, one lowercase letter and one number and one special character.</P>

    <form [formGroup]="myForm">
        <div class="input-group w-100 float-left mt-4">
            <input type="password" class="form-control" formControlName="NewPassword" placeholder="New Password"  [(ngModel)]="model.NewPassword" (input)="onSearchChange($event.target.value,'currpwd')">
            <app-validation class="alert-margin alert-txt" [control]="myForm.controls.NewPassword"></app-validation>
        </div>
        <div class="input-group w-100 float-left mt-4">
            <input type="password" class="form-control" formControlName="conformpassword"  placeholder="Confirm Password" [(ngModel)]="model.conformpassword" (input)="onSearchChange($event.target.value,'Confirm')" [ngClass]="{'error' : mismatch}">
            <app-validation class="alert-margin alert-txt"  [control]="myForm.controls.conformpassword"></app-validation>
            <!-- <div *ngIf="show">
                <div class="alert alert-danger remove-indent" *ngIf="(model.conformpassword != model.NewPassword)"></div>
            </div> -->
        </div>
        <div class="input-group w-100 float-left mt-3">
            <input  *ngIf="!loading" class="btn btn-primary btn-green w-100 no_margin waves-light text-center" value="Reset" type="submit" (click)="generate()" [disabled]="!myForm.valid">
            <input *ngIf="loading" type="button" class="btn btn-secondary btn-green w-100 no_margin width_auto waves-light text-center" value="Resetting....">
        </div>
    </form>
    <div class="float-left">
        <span class="float-left link-text">
            <a (click)="logout()">Home</a>
        </span>
    </div>
</div>