<!-- <link rel="stylesheet" type="text/css" href="http://global.webydo.com/v8/base.min.css?v=8083592212" /> -->
<!-- <link rel="stylesheet" type="text/css" href="assets/css/kiosk/master.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="assets/css/kiosk/index.css" /> -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,hebrew,cyrillic" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Condiment:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,hebrew,cyrillic" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster Two:400,italic,700,700italic&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,hebrew,cyrillic" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Unkempt:400,700&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,hebrew,cyrillic" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fredoka One:400&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,hebrew,cyrillic" />
<script type="text/javascript" src="//code.jquery.com/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="//global.webydo.com/v8/main.min.css?v=DplyPub_170105.1" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/alefhebrew.css" />
<script type="text/javascript" src="//global.webydo.com/v8/skrollr.min.js?v=DplyPub_170105.1"></script>
<script type="text/javascript" src="//global.webydo.com/v8/script.min.js?v=DplyPub_170105.1"></script>


<div id='skrollr-body'>
    <input type="hidden" class="bp_data" data-bp="pc" data-value="1024" />
    <div id='generalSitebackgroundDiv' class='generalSitebackgroundDiv'></div>
    <div id='innerMainPanel0' class='innerMainPanel0'></div>
    <div id='mainMainPanel0' class='dataTypeMainPanel mainMainPanel0' data-type='MainPanel'>

        <div id='mainShape24__Shape24_Shape66584' data-id='mainShape24' class='dataTypeShape  mainShape24    mainShape' data-type='Shape'></div>

        <header>
            <div id='mainMainRow1' class='dataTypeMainRow mainMainRow1 ' data-type='MainRow'>
                <div id='mainMainContent2' class='dataTypeMainContent mainMainContent2' data-type='MainContent'></div>
            </div>
        </header>
        <main>
            <div id='mainMainRow3' class='dataTypeMainRow mainMainRow3 ' data-type='MainRow'>
                <div id='mainMainContent4' class='dataTypeMainContent mainMainContent4 ContentHeight' data-type='MainContent'>
                    <div id='innerShape33__Shape33_Shape32175' onclick='shapelinkto(event,"help.html","false")' data-id='innerShape33' class='dataTypeShape  innerShape33   pointer ' data-type='Shape'></div>
                    <div id='innerText34__Text34_Text33300' data-id='innerText34' style='' data-type="text" class='dataTypeText  inner_text innerText34   text_editor_resets'>
                        <div class='innerText34_ContentDiv'>
                            <h2 class="Menu ospfxwa98ed65eff0946d7808c97a56a432482ossfx">
                                <a class="Menu" [routerLink]="['/kiosk/kiosk-reg']">
                                    <span>
                                        <i class="fa fa-user"></i>
                                        Patient Registration</span>
                                </a>
                            </h2>
                        </div>
                        <div class='text_caption_background' style='background-color:transparent;opacity:1;position:absolute;left:0;bottom:0;top:0;right:0;z-index:-1;'></div>
                    </div>
                    <div id='innerShape39__Shape39_Shape588145' onclick='shapelinkto(event,"video.html","false")' data-id='innerShape39' class='dataTypeShape  innerShape39   pointer ' data-type='Shape'></div>
                    <div id='innerText40__Text40_Text599051' data-id='innerText40' style='' data-type="text" class='dataTypeText  inner_text innerText40   text_editor_resets'>
                        <div class='innerText40_ContentDiv'>
                            <h2 class="Menu ospfxw92aaad80b55971f940e2cc7776fbfa1aossfx">
                                <a class="Menu" [routerLink]="['/scheduler']">
                                    <i class="fa fa-book"></i> Book Slot</a>
                            </h2>
                        </div>
                        <div class='text_caption_background' style='background-color:transparent;opacity:1;position:absolute;left:0;bottom:0;top:0;right:0;z-index:-1;'></div>
                    </div>

                    <div id='innerText43__Text43' data-id='innerText43' style='' data-type="text" class='dataTypeText  inner_text innerText43   text_editor_resets'>
                        <div class='innerText43_ContentDiv'>
                            <h1 class="Title ospfxwfab7d2b54cbf6e0a1969bf649bf535edossfx">What would you like to do?</h1>
                        </div>
                        <div class='text_caption_background' style='background-color:transparent;opacity:1;position:absolute;left:0;bottom:0;top:0;right:0;z-index:-1;'></div>
                    </div>

                </div>
            </div>
        </main>
        <footer>
            <div id='mainMainRow5' class='dataTypeMainRow mainMainRow5 ' data-type='MainRow'>
                <div id='mainMainContent6' class='dataTypeMainContent mainMainContent6' data-type='MainContent'></div>
            </div>
        </footer>
    </div>

</div>