// component css goes here
.client-header {
    background: transparent !important;
    height: 70px;
}

header nav.navbar {
    background: transparent !important;
    padding: 0 50px;
    border-radius: 0px;
}